{% load static %}

<html lang="en">
<head>
    <link rel="stylesheet" href="{%static 'pages/css/index.css'%}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MARG</title>
</head>

<body>
    
    <div id="root">
            <nav>
                    <a>Home</a>
                    <div>
                        <ul>
                            <li class = "nav"><a>About</a></li>
                            <li class = "nav"><a>Explore</a></li>
                            <li class = "nav"><a>Identification & Documentation</a></li>
                            <li class = "nav"><a>Conservation</a></li>
                            <li class = "nav"><a>Management</a></li>
                            <li class = "nav"><a>The MARG Network</a></li>
                        </ul>
                    </div>
            </nav>
            <h1>
                Explore
            </h1>
    </div>    
</body>
    
</html>