<nav>
    <div class = 'navbar-container'>
        <a href="/" class="{% if request.path == '/' %}active{% endif %}">MARG</a>

        <div>
            <ul>
                <li><a href="/about/" class="{% if request.path == '/about/' %}active{% endif %}">About</a></li>
                <li><a href="/explore/" class="{% if request.path == '/explore/' %}active{% endif %}">Explore</a></li>
                <li><a href="/identification_documentation/" class="{% if request.path == '/identification_documentation/' %}active{% endif %}">Identification & Documentation</a></li>
                <li><a href="/conservation/" class="{% if request.path == '/conservation/' %}active{% endif %}">Conservation</a></li>
                <li><a href="/management/" class="{% if request.path == '/management/' %}active{% endif %}">Management</a></li>
                <li><a href="/network/" class="{% if request.path == '/network/' %}active{% endif %}">Network</a></li>
            </ul>
        </div>
    </div>
</nav>